@use 'colors';
@use 'mixins';
@use 'buttons';

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  .card {
    @include mixins.shadow(colors.$deep-space-sparkle, 0.2);
    @include mixins.card-style(colors.$opal-light, colors.$deep-space-sparkle);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    font-size: 18px;
    .btn {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-top: 1em;
    }
  }
}
