$copper-rose-darker: #a87173;
$copper-rose: #c9a7a8;
$almond: #f0dcca;
$opal: #608781;
$opal-light: #98b6b1;
$russian-green: #517c62;
$russian-green-light: #629677;
$deep-space-sparkle: #393d3f;
$pure-white: #ffffff;
$pure-black: #000000;
