$baby-pink: #fac8cd;
$queen-pink: #d7bcc8;
$opal: #608781;
$opal-light: #98b6b1;
$russian-green: #517c62;
$russian-green-light: #629677;
$deep-space-sparkle: #495d63;
$pure-white: #ffffff;
$pure-black: #000000;
