$cancel-op-col-dark: #e86a92;
$cancel-op-col: #ec84a5;
$maincont-bg-col: #dbd8f0;
$op-col-dark: #7fbeeb;
$op-col: #a7d2f1;
$header-dark-col: #474960;
$card-bg-col: #dbd053;
$dark-textbgshadow-col: #393d3f;
$headfoot-col: #f7f7f9;
