@use 'colors';
@use 'mixins';
@use 'buttons';
@use 'modal';
@use 'media';
@use 'cards';

$font: 'Roboto', sans-serif;

* {
  font-family: $font;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 10fr 1fr;
}
/* header */
.header {
  @include mixins.container-style(colors.$header-dark-col);
  font-size: clamp(1.5em, 5vw, 2em);
  font-weight: 700;
  grid-row: 1/2;
  box-shadow: 0px 2px 3px rgba(colors.$dark-textbgshadow-col, 0.2);
  z-index: 2;

  .main__heading {
    color: colors.$headfoot-col;
  }
}

.header,
.footer {
  flex: none;
}

/* main content */

.maincont {
  @include mixins.container-style(colors.$maincont-bg-col);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  grid-row: 2/3;
}

/* footer */

.footer {
  @include mixins.container-style(colors.$header-dark-col);
  font-size: 12px;
  padding: 0.25em;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: none;
  color: colors.$headfoot-col;
}
