@media (min-width: 600px) {
  .header {
    justify-content: flex-start;
  }

  .input-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    input:is([type='text'], [type='number']) {
      width: auto;
    }
  }

  .radio {
    flex-direction: column;
    gap: 0.125em;
  }

  .modal__buttons {
    justify-content: space-around;
  }
}
