@mixin button-style($bgcolor, $color, $fontsize) {
  border-style: none;
  border-radius: 10px;
  padding: 0.75em 2em;
  background-color: $bgcolor;
  color: $color;
  font-size: $fontsize;
  font-weight: 700;
}

@mixin button-hover($bgcolor, $alpha) {
  background-color: rgba($bgcolor, $alpha);
}

@mixin button-translate($state) {
  &:#{$state} {
    transform: translate(0, 2px);
  }
}

@mixin shadow($color, $alpha) {
  box-shadow: 2px 2px 4px rgba($color, $alpha);
}

@mixin container-style($bgcolor) {
  background-color: $bgcolor;
}

@mixin card-style($bgcolor, $color) {
  border-radius: 10px;
  padding: 2em;
  background-color: $bgcolor;
  color: $color;
}
