@use 'colors';
@use 'mixins';

.maincont__modal {
  @include mixins.shadow(colors.$dark-textbgshadow-col, 0.2);
  color: colors.$dark-textbgshadow-col;
  display: none;
  @include mixins.container-style(colors.$card-bg-col);
  padding: 1.5em;
  border-style: none;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // &::backdrop {
  //   background-color: rgba(255, 0, 0, 0.25);
  // }
}

fieldset {
  legend {
    font-size: 1.5em;
    text-decoration: underline;
  }
  div + div,
  legend + div,
  div + button {
    margin-top: 1em;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.25em;
  input:is([type='text'], [type='number']) {
    width: 100%;
  }
}

input {
  align-self: center;
  border-radius: 10px;
  padding: 0.25em;
  border-style: none;
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  accent-color: colors.$op-col;
}
.modal__buttons {
  display: flex;
  gap: 0.5em;
}
